html{
	font-family: 'Roboto', sans-serif;
}
header{
	height: 80px;
	background-color: blue;
	color: #fff;
	text-align: center;
	border: 5px solid #000;
}

.main-content-container{
	min-height: 800px;
}

.main-container-article{
	width: 70%;
    display: inline-block;
}

.main-container-sidebar{
	border: 1px solid;
    display: inline-block;
}

.main-container-sidebar.left{
	width: 12%;
	float: left;
}
.main-container-sidebar.right{
	width: 17%;
	float: right;
}

.article-title{
	border-top: 20px solid #CFE2F3;
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
}

footer{
	height: 200px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border: 5px solid #000;
	clear: both;
}

.side-article{
	padding: 5px;
	margin-bottom: 15px;
}

.side-article:hover{
	background-color: magenta;
	color: aqua;
	margin: 40px 0;
	border: 4px dotted cornsilk;
}


.img-placeholder{
	height: 100px;
	width: 100%;
	background-color: darkblue;
}
.side-article-title{
	border-bottom: 1px solid #000;
}